<div style="min-height: 50vh;background: url('https://www.bing.com/th?id=OHR.ZebraEgret_ROW1402853310_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');background-size: cover;background-color: #787860">
  <h3 style="color: #ffd400;" >今天是 2022-05-22, 在一起的第50天</h3>
  <div style="color: #00ffdc;">

    <p style="padding-left: 30px;text-indent: -30px;">天气提醒: </br>天气提醒: 小雨, 温度: 18℃-23℃, 湿度: 96</br>风
向: 北风, 风力等级: 1-2</p>


    <p>每日一句: 出门要像明星一样保护自己，要不然就会被别人抢走</p>

    <div style="text-align: center;
    height: 40px;
    line-height: 40px;
    color: #ff66d7;
    font-size: 30px;">❤爱你哟!😘❤</div>
  </div>
</div>